
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html, 
body, 
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block; 
  overflow-x: hidden; 
      background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);

}

* {
  box-sizing: border-box;
}